# Entornos virtuales
Backend/.venv/
Backend/venv/

#Caché
__pycache__/
*/__pycache__/
**/__pycache__/

# Configuracion de entorno (dotenv)
Backend/.env

# Extension de git para filtrar y cambiar historial 
git-filter-repo

env